/*SECCION A B O U T M E*/

.about__me{
  background: #3a3c44;
  background-size: cover;
  padding: 3vh 3vh;
  
}

.sobremi__contenedor{
  max-width: 1100px;
  display: flex;
  margin: auto;
  padding: 10px 20px;
  display: flex;
  background-color: rgba(173, 167, 155, 0.377); /* Agregar el fondo blanco */
  box-shadow: 0 0 10px rgba(248, 248, 248, 0.6); /* Agregar una sombra para dar un efecto de tarjeta */
  border-radius: 10px
}


.contenedor__foto{
  max-width: 500px;
  margin-right: 100px;
  padding: 15px;
  border-radius: 15px;
  background-color: rgba(217, 207, 172, 0.6);
}

#sobremi .sobremi__contenedor{
  display: inline-block;
  text-justify: auto;
  justify-content: center;
}
#sobremi .sobremi__titulo{
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-family: 'quicksand';
  text-decoration: underline;

}

.sobremi__nombre, h3, p{
  font-size: 1.5rem;
  font-weight: 200;
  margin-bottom: 20px;
  letter-spacing: 2px;
  font-family: 'Courier New', Courier, monospace;
  color: #C1D4EC;
  max-width: 1100px;
}
.sobremi__nombre span{
  font-size: 23px;
  color: #D9CFAC;
  font-weight: bold;
  font-family: 'quicksand';
}