html{
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 50px);
}
body{
  scroll-padding-top: 120px;
}
.fondo{
  background-image: url(../images/wallpapersden.com_elden-ring-age-of-stars-5k_2560x1440.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
}

